*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

body{
    height: 100vh;
    background-color: #1E2D3B;
}

.player-card{
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.11);
    text-align: center;
    height: 360px;
    border-radius: 10px;
    box-shadow: inset 0px 1px 4px 0px rgb(255 255 255 / 29%);
    color: black;
}

.player-card:hover{
    background-color: rgba(255, 255, 255, 0.288);
    transform: translateY(-5%);
    transition: all 500ms;
    cursor: pointer;
}

.player-wrapper{
    width: calc((100% - 160px) / 5);
}

.card-image{
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
    overflow: hidden;
}

.card-image img{
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    display: block;
}

.card-title{
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}

.card-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    font-weight: 400;
    margin-top: 15px;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 80px 0;
    position: relative;
}

select{
    font-size: 16px;
    appearance: none;
    padding: 10px 60px 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.11);
    color: rgba(255, 255, 255, 0.5);
    box-shadow: inset 0px 1px 4px 0px rgb(255 255 255 / 29%);
}

select:hover{
    background-color: rgba(255, 255, 255, 0.288);
    color: rgb(255, 255, 255);
    transition: all 500ms;
}

option{
    color: rgba(255, 255, 255, 0.5);
    background-color: #374451;
}

.select-wrapper{
    position: relative;
    display: inline-block;
}

.custom-arrow{
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.21752450980392157) 43%, rgba(255, 255, 255, 0.432) 100%);
    width: 50px;
    height: 100%;
    border-radius: 0 10px 10px 0;
    pointer-events: none;
}

.custom-arrow:after{
    content: '';
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    border-top: 6px solid #374451;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;

}